.appointmenteditor {
  width: 100%;
  z-index: 31;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 12px;
  background-color: #ffffff;

  .searchFieldsContainer {
    top: 50px;
    position: relative;
    padding: 5% 2%;
    display: flex;
    justify-content: space-between;

    .searchFieldsContainerLeft {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      > div {
        width: calc(100% /3 - 30px);
        margin-bottom: 40px;
        margin-right: 30px;

      }
    }

    .searchFieldsContainerRight {
      width: 30%;
    }
  }

}
