.appointmenteditor {
  width: 100%;
  z-index: 31;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 12px;
  background-color: #ffffff;

  .searchFieldsContainer {
    top: 50px;
    position: relative;
    padding: 5% 2%;
    display: flex;
    justify-content: space-between;

    .patientServiceSearch {
      width: 70%;
      display: flex;
      > div {
        width: 30%;
        padding-right: 20px;
      }
    }

    .providerSearch {
      width: 30%;
    }
  }

}
