@import '../../variables.scss';
.errorMessageContainer {
  margin-left: 25px;
}

.footer {
  background: #f2f2f2;
  position: fixed;
  width: calc(100% - 64px);
  z-index: 55;
  bottom: 0;

  .footerElements {
    float: right;
    position: fixed;
    right: 32px;

    .button {
      background: #f2f2f2;
      height: 50px;
      border: 0;
      border-radius: 0;
      padding: 0 21px;
      position: relative;
      top: -50px;
      span {
        margin: auto 5px;
      }

      &:hover:not(.save) {
        background: darkgrey;
      }

    }
    .save {
      color: $secondary-color-1;
      background: $primary-color-2;
      &:not([disabled]) {
        &:hover {
          background: $primary-color-2;
          opacity: 1;
        }
      }
    }
  }
}
