.recurrenceType {
  padding: 2px;
  div {
    margin: 0;
    padding: 0;
    display: inline;
  }
  .inputNumber {
    margin: 0 4% 10% 0;
    display: inline;
  }
  .radioButton {
    display: inline;
    margin: 5% 8% 5% 8%;
  }
  .radioGroup {
    display: inline;
  }
}
