.recurrenceTypeContainer {
  margin: 5% 4% 0% 0;
  align-items: center;
  div {
    margin: 0;
  }

  .recurrenceTypeDiv {
    margin: 0 5.5% 10% 0;
    display: inline;
    align-items: center;
    input[type=radio] {
      margin-right: 3%;
    }
  }

  .grayOut {
    opacity: 0.6;
    margin: 0 5.5% 10% 0;
    align-items: center;
    display: inline;
    input[type=radio] {
      margin-right: 3%;
    }
    input[disabled] {
      margin-right: 3%;
      cursor: not-allowed;
    }
  }
}
