@import '../../variables.scss';

.inputNumberContainer {
  display: inline-flex;
  border-bottom: 1px solid;
  padding-bottom: 1px;
  margin: 0 3% 0 3%;
    .tagRemove {
      color: $secondary-color-1;
      align-items: center;
      cursor: pointer;
      background-color: $primary-color-1;
      height: 15px;
      width: 30px;
      border-radius: 2px;
      font-size: 10px;
    }
    .tagRemove:hover {
      background-color: $border-color;
    }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
    border: none;
    width: 48px;
    text-align: center;
    height: 12px;
    &:focus {
      outline: none;
    }
  }
}