:root {
  --color-primary-1: #1c9b85;
  --color-primary-1-lighter: #bff2ea;
  --color-primary-2: #565eaa;
  --color-border: #979797;
  --color-secondary-1: #ffffff;
  --color-secondary-2: #231f20;
  --color-disbale:#cccccc;
  --color-datepicker-content-color:#666;
  --color-missed-appointment-color:#fceab6;
  --color-cancelled-appointment-color:#fcb6b6;
}
