$interactive-01: #007d79;
$interactive-02: #393939;
$ui-05: #A6C8FF;
$inverse-01: #0a74ff;
$border-inverse: #0a74ff;
@import "~carbon-components/scss/globals/scss/styles.scss";
.bx--content-switcher-btn.bx--content-switcher--selected{
  border: solid;
}
.bx--content-switcher-btn{
  color: #0a74ff;
  border-color: #A6C8FF;
}
.bx--btn--primary:hover{
  background-color: #669999;
}
.bx--btn--primary:hover{
  background-color: #004144;
}
.bx--btn--primary{
  background-color: #007d79;
}
.bx--btn--secondary:hover{
  background-color: #6f6f6f;
}
.bx--content-switcher-btn:disabled{
  color: blue;
}
.bx--content-switcher-btn:hover{
  color: #0a74ff;
  background-color: #cde3ff;
}
.bx--search--xl:focus {
  border: #ff832b;
}
.bx--checkbox-label:after{
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.bx--select__arrow{
  fill: #161616;
}