$interactive-01: #007d79;
$interactive-02: #393939;
$ui-05: #cce2ff;
$inverse-01: #0a74ff;
$border-inverse: #0a74ff;
@import "~carbon-components/scss/globals/scss/styles.scss";
.bx--content-switcher-btn.bx--content-switcher--selected{
  border: solid;
}
.bx--content-switcher-btn{
  color: #0a74ff;
}
.bx--content-switcher-btn:hover{
  background-color: #cde3ff;
}
.bx--btn--primary:hover{
  background-color: #669999;
}
.bx--content-switcher-btn:disabled{
  color: blue;
}