@import './bahmni-theme.scss';

$primary-color-1: var(--color-primary-1);
$primary-color-2: var(--color-primary-2);
$border-color: var(--color-border);
$secondary-color-1: var(--color-secondary-1);
$secondary-color-2: var(--color-secondary-2);

