@import './bahmni-theme.scss';

$primary-color-1: var(--color-primary-1);
$primary-color-2: var(--color-primary-2);
$border-color: var(--color-border);
$secondary-color-1: var(--color-secondary-1);
$secondary-color-2: var(--color-secondary-2);
$primary-color-1-lighter: var(--color-primary-1-lighter);

$disable-color: var(--color-disbale);
$color-datepicker-content-color: var(--color-datepicker-content-color);
$color-missed-appointment-color: var(--color-missed-appointment-color);
$color-cancelled-appointment-color: var(--color-cancelled-appointment-color);
