@import './bahmni-theme.scss';

$primary-color-cyan: var(--color-primary-cyan);
$primary-color-blue: var(--color-primary-blue);
$border-color: var(--color-border);
$secondary-color-white: var(--color-secondary-white);
