@import "../../variables.scss";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.searchContainer {
  position: relative;

  .appointmentListSidePanelSearch {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 10px;
  }

  .icon {
    position: absolute;
    right: 15px;
    top: 9px;
    color: #929292;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .disabled {
    cursor: not-allowed;
  }

  .fa-times-disabled {
    cursor: not-allowed;
  }
}
