.conflictsContainer {
    padding-top: 20px;
    .button {
        position: relative;
        background: none;
        border: none;
        padding: 10px 0;
        float: right;
        &:hover {
            border: none;
            background: none;
        }
    }
}
