.conflictsContainer {
    padding-top: 20px;
    .button {
        //left: 98%;
        position: relative;
        background: none;
        border: none;
        //padding: 0px;
        //margin-top: 3%;
        padding: 10px 0;
        float: right;
        &:hover {
            border: none;
            background: none;
        }
    }
}
