@import '../../variables.scss';

.buttonGroup {
  display: flex;
  button {
    flex-grow: 1;
    padding: 10px 0;
    border-radius: 0;
    border-width: 1px 0 1px 1px;
    border-color: #231f20;
    background: $secondary-color-1;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
      border-right: 1px solid;
    }
    &:focus {
      outline: 0;
    }
    &.selected {
      background: $primary-color-1;
      color: $secondary-color-1;
    }
  }
}
