@import '../../variables.scss';

.appointmentDatePicker {
  width: 100%;
  margin-top: 20px;

  div[class*='calendar-body'] {
    padding: 0;
    height: auto;
  }

  span[class*='rc-calendar-clear-btn'] {
    z-index: 0;
  }

  td[class*='rc-calendar-disabled'] {
    > div {
      cursor: not-allowed;
      color: #bcbcbc;
      background: #f3f3f3;
      border-radius: 0;
      width: auto;
    }
  }

  div[class*='rc-calendar-header'] {
    a {
      &:hover {
        color: $primary-color-1;
      }
    }
  }

  div[class*='panel-header'] {
    a {
      color: $primary-color-1;
      &:hover {
        color: $primary-color-1;
      }
    }
  }

  div[class*='panel-body'] {
    padding: 0;
    tbody[class*='panel-tbody'] {
      td[class*='panel-selected-cell'] {
        a {
          background: $primary-color-1;
          color: $secondary-color-1;
          &:hover {
            background: $primary-color-1;
            color: $secondary-color-1;
          }
        }
      }
    }
  }
}

.appointmentDatePickerSelected {
  td[class*='rc-calendar-selected-day'] {
    border: none;
  }
  td[class*='rc-calendar-selected-date'] {
    > div {
      &:hover {
        background: $primary-color-1;
      }
      background: $primary-color-1;
      color: $secondary-color-1;
    }
  }
  td[class*='rc-calendar-today'] {
    > div {
      border: 1px solid $primary-color-1;
    }
  }
  td[class*='rc-calendar-disabled'] {
    > div {
      cursor: not-allowed;
      color: #bcbcbc;
      background: #f3f3f3;
      border-radius: 0;
      width: auto;
    }
  }
}

.appointmentDatePickerNotSelected {
  td[class*='rc-calendar-today'] {
    > div {
      border: 1px solid $primary-color-1;
    }
  }
  td[class*='rc-calendar-selected-day'] {
    border: none;
  }
  td[class*='rc-calendar-disabled'] {
    > div {
      cursor: not-allowed;
      color: #bcbcbc;
      background: #f3f3f3;
      border-radius: 0;
      width: auto;
    }
  }
}

.disable {
  cursor: not-allowed;
  div:first-child {
    pointer-events: none;
    opacity: 0.9;
  }
  i:first-child {
    pointer-events: none;
    opacity: 0.7;
  }
}
