@import '../../variables.scss';

.dateInputClose{
  position: relative;
  left: -12px;
  &:hover{
    cursor: pointer;
  }
}

.dateInputBox{
  width: 70%;
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
}