@import '../../variables.scss';

.appointmentDatePicker {
  width: calc(100% - 2px);
  width: -moz-webkit-fill-available;
  width: -ms-webkit-fill-available;
  width: -webkit-fill-available;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;

  div[class*='react-datepicker__day--selected']{
    background-color:$primary-color-1;
    &:hover {
      color: $color-datepicker-content-color;
    }
  }

  div[class*='react-datepicker__day--outside-month']{
    color: $disable-color;
  }

  div[class*='react-datepicker__day--today']{
    border-radius: 0.3rem;
    border:1px solid $primary-color-1 ;
  }

  div[class*='react-datepicker__day'] {
    &:hover {
      background-color: $primary-color-1-lighter;
    }
  }

  div[class*='react-datepicker__day-name'] {
    &:hover {
      background:none;
    }
  }

  div[class*='react-datepicker__day-names'] {
    display: flex;
    justify-content: space-around;
    padding: 0 0.4rem;

    div[class*='react-datepicker__day-name'] {
      width: 1.5rem;
      line-height: 1.5rem;
      &:hover {
        background:none;
      }
    }
  }

  div[class*='react-datepicker__week'] {
    display: flex;
    justify-content: space-around;

    div[class*='react-datepicker__day'] {
      width: 1.5rem;
      line-height: 1.5rem;
    }
  }

  div[class*='react-datepicker__month-container']{
    width:100%;
  }

  div[class*='react-datepicker__header__dropdown']{
    margin-top:0.6rem;
  }

  span[class*='react-datepicker__month-read-view--selected-month'], span[class*='react-datepicker__year-read-view--selected-year']{
    font-size: 16px;
  }

  div[class*='react-datepicker__header--custom']{
    text-align:left;
  }
}

.disable {
  cursor: not-allowed;
}

.disabledDate {
  pointer-events: none;
  color:  $disable-color;
}
