@import '../../variables.scss';

.appointmentDatePicker {
  width: 100%;

  div[class*='calendar-body'] {
    padding: 0;
    height: auto;
  }

  td[class*='rc-calendar-selected'] {
    > div {
      &:hover {
        background: $primary-color-cyan;
      }
      background: $primary-color-cyan;
      color: $secondary-color-white;
    }
  }

  td[class*='rc-calendar-disabled'] {
    > div {
      cursor: not-allowed;
      color: #bcbcbc;
      background: #f3f3f3;
      border-radius: 0;
      width: auto;
    }
  }

  td[class*='rc-calendar-today'] {
    > div {
      border: 1px solid $primary-color-cyan;
    }
  }

  div[class*='rc-calendar-header'] {
    a {
      &:hover {
        color: $primary-color-cyan;
      }
    }
  }

  div[class*='panel-header'] {
    a {
      color: $primary-color-cyan;
      &:hover {
        color: $primary-color-cyan;
      }
    }
  }

  div[class*='panel-body'] {
    padding: 0;
    tbody[class*='panel-tbody'] {
      td[class*='panel-selected-cell'] {
        a {
          background: $primary-color-cyan;
          color: $secondary-color-white;
          &:hover {
            background: $primary-color-cyan;
            color: $secondary-color-white;
          }
        }
      }
    }
  }

}
