table{
    border-color: #0a0a0a;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 300;
    font-family: OpenSans,Arial,sans-serif;

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        tr th {
            padding: 7px;        
        }
    }

    tr {
        border: 0;
        border-bottom: 1px solid #ddd;
    }

    tr:nth-child(odd) {
        background: #fff;
    }

    th {
        background: #e2e1e1;
        display: table-cell;
        vertical-align: inherit;
        text-align: center;
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: #313131;
    }
    
    th:first-child {
        text-align: left;
    }

    tr:nth-child(even) {
        background: #F2F1F1;
    }

    td {
        padding: 5px 10px;
        border: 1px solid #ddd;

        a, a:active, a:hover, a:link, a:visited {
            color: #2b95ff;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
        }
    }

    .service-disc-tablecell {
        min-width: 310px;
        max-width: 310px;
    }
    
}