@import '../../variables.scss';

.saveModal {
  .saveModalCloseIcon {
    text-align: right;
    button {
      color: $secondary-color-2;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0;
    }
  }
  > div:nth-child(2) {
    padding: 0 30px 30px 30px;

    .saveModalTitle {
      margin: 0 0 12px;
      font-size: 30px;
      line-height: normal;
      color: $secondary-color-2;
    }

    .saveModalBody {
      margin: 0 0 24px;
      line-height: normal;
    } 
    
    .saveModalWarning {
      margin: 0 0 24px;
      line-height: normal;
      font-style: italic;
    }

    .saveConfirmationFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button {
        background: #f2f2f2;
        border: 0;
        border-radius: 4px;
        padding: 10px 40px;
        color: $secondary-color-1;
        background: $primary-color-2;

        &:hover {
          background: darkgrey;
        }
      }

      .newAppointmentLink {
        button {
          text-decoration-line: underline;
          border: none;
          background: none;
          padding: 0;
          color: #2b95ff;
          cursor: pointer;
        }
      }
    }
  }
}
