@import "../../variables.scss";

.toggleBtnCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggleBtnLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 15px;
  background: grey;
  border-radius: 100px;
  position: relative;
  //transition: background-color 0.2s;
}

.toggleBtnLabel .toggleBtnSlider {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  //transition: 1s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggleBtnCheckbox:checked + .toggleBtnLabel .toggleBtnSlider {
  left: 100%;
  transform: translateX(-100%);
}

.toggleBtnLabel:active .toggleBtnSlider {
  width: 20px;
}
