@import '../../variables.scss';
@import "../AppointmentEditorCommonFieldsWrapper/AppointmentEditorCommonFieldsWrapper.module";

.appointmentEditor {
  min-width: 1200px;
  width: 100%;
  z-index: 31;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 12px;
  background-color: $secondary-color-1;

  .recurringContainer {
    top: 60px;
    bottom: 50px;
    position: relative;
    padding: 0 2% 3% 2%;
    display: flex;
    justify-content: space-between;

    .recurringContainerLeft {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      > div {
        width: calc(100% / 3 - 30px);
        margin-bottom: 25px;
        margin-right: 30px;
      }

      .weekDaysContainer {
        margin: {
          top: 4%;
        }
      }

      .timeSelector {
        margin-top: 15%;
      }
    }

    .recurringContainerRight {
      width: 30%;
    }
  }
}

.dateHeading {
  height: 22px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}


