@import '../../variables.scss';

.searchIcon {
  position: absolute;
  left: 6px;
  color: $primary-color-1;
}

.dropdownIndicator{
  color: hsl(0,0%,80%);
  font-weight: 800;
}

.resetSelectContainer {
  div[class^='react-select__value-container'] {
      padding-left: 24px;
  }
  div[class^='react-select__control']{
    border:0px;
    border-radius: 0px;
    border-bottom: 1px solid $border-color;
    box-shadow: none;
  }
  div[class^='react-select__single-value'] {
    line-height: normal;
    white-space: normal;
  }
}

.disable {
  cursor: not-allowed;
}
