@import '../../variables.scss';

.calendarPickerContainer {
  position:absolute;
  width: 20%;
  margin-left: 0.4em;
  .calenderPickerDatePickerWrapper {
    //z-index:10000;
    div {
      //z-index: 100000;
    }
  }
}
