<div class="confirm-box">
    <span class="ngdialog-close"></span>
    <div class="recurrence-indication-message" ng-if="isRecurringAppointment">
        <span>{{::scope.recurrenceIndicationMessage | translate}}</span>
    </div>
    <p class="message">{{::scope.message | translate}}</p>
    <div class="actions">
        <button ng-repeat="action in actions" ng-click="scope[action.name](close);" id="{{action.name}}" class="{{action.class}}">
            {{::action.display | translate}}
        </button>
    </div>
</div>
