@import '../../../variables.scss';

.conflictsCount {
  &:before {
    content: "-";
    padding: 3px;
  }
}

ul[class*='react-tabs__tab-list'] {
  border-bottom: none;
  margin-left: 1.5%;
}

li[class*='react-tabs__tab'] {
  border: none;
  margin-right: 5%;
  padding: 15px 0 15px 0;
  bottom: -4px;
  font-size: 16px;
  font-weight: 600;
}

li[class*='react-tabs__tab'][aria-selected="true"] {
  color: $primary-color-2;
  border-bottom: 2px solid $primary-color-2;
}

.conflictsHeading {
  margin: 2% 0 2% 1.5%;
  font-size: 14px;
  height: 19px;
  color: $secondary-color-2;
}

.conflictsList {
  height: 600px;
  overflow: auto
}

.appointmentConflict {
  margin: 1% 0 3% 1.5%;
  font-size: 14px;
  color: $secondary-color-2;
  .conflictMessage {
    padding: 1% 0 1% 0;
    .boldContent {
      font-weight: 600;
    }
  }
  .conflictDetails {
    padding-top: 0.5%;
    font-size: 18px;
    font-weight: 600;
  }
}
