.appointmentTimePicker {
    width: 58%;

  input[class^='rc-time-picker-input'] {
    border-radius: 4px;
    padding: 5px 3px;
  }
}

.appointmentTimePickerPopup {
  div[class^='rc-time-picker-panel-inner']{
    width: 20em;
  }
}