name: Validate Pull Request

on:
    pull_request:
        branches:
            - master            

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Setup node version
            uses: actions/setup-node@v1
            with:
                node-version: '12.x'
        - run: npm install
        - run: npm test        
        env:
            CI: true                